body {
	background-color: rgba(255, 255, 255, 0.4);
	margin: 5% 25%;
}


main {
	width: 68%;
	margin-left: 32%;
	border-left: 1px solid black;
	
}

section {
	padding: 30px;
}

aside {
	width: 32%;
	float: left;
	padding: 10px;

	
}

.pic, .pic div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin-bottom: 80px;
  margin-top: 30px;
}

.pic {
  transform: rotate(45deg) translateY(10px);
}

.pic .pic1 {
  width: 235px;
  height: 235px;
  transform: rotate(-45deg) translateY(-74px);
}

.pic .pic1 img {
  width: 100%;
  height: auto;
}

h1 {
	font-family: 'Arbutus Slab', serif;
	font-size: 35px;
}

#signatur {
	font-family: 'Homemade Apple', cursive;
	text-decoration: underline;
}

p {
	font-family: 'Noto Sans', sans-serif;
}
