body {
	background-color: rgba(255, 255, 255, 0.4);
	margin: 5% 25%;
}


main {
	width: 68%;
	margin-left: 32%;
	border-left: 1px solid black;
	
}

section {
	padding: 30px;
}

aside {
	width: 32%;
	float: left;
	padding: 10px;

	
}

.pic, .pic div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin-bottom: 80px;
  margin-top: 30px;
}

.pic {
  transform: rotate(45deg) translateY(10px);
}

.pic .pic1 {
  width: 235px;
  height: 235px;
  transform: rotate(-45deg) translateY(-74px);
}

.pic .pic1 img {
  width: 100%;
  height: auto;
}

h1 {
	font-family: 'Arbutus Slab', serif;
	font-size: 35px;
}

h3 {
	font-size: 23px;
}

#signatur {
	font-family: 'Homemade Apple', cursive;
	text-decoration: underline;
	padding-left: 25em;
}

p {
	font-family: 'Noto Sans', sans-serif;
}

b {
	font-size: 18px;
}

.tab {
	padding-left: 4em;
}

.tab2 {
	padding-left: 7em;
}

.tab3 {
	padding-left: 7.36em;
}

.tab4 {
	padding-left: 7.25em;
}

.tab5 {
	padding-left: 4.67em;
}

.tab6 {
	padding-left: 2.97em;
}

.tab7 {
	padding-left: 6.193em;
}

.tab8 {
	padding-left: 6.45em;
}

.tab9 {
	padding-left: 6.8em;
}

.tab10 {
	padding-left: 3.15em;
}

.checked {
	color: orange;
}