body {
	background-color: rgba(255, 255, 255, 0.8);
	margin: 5% 25%;
	font-size: 16px;
}


main {
	width: 68%;
	margin-left: 32%;
	border-left: 1px solid black;
	
}

section {
	padding: 30px;
}

aside {
	width: 32%;
	float: left;
	padding: 10px;

	
}

.pic, .pic div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin-bottom: 80px;
  margin-top: 30px;
}

.pic {
  transform: rotate(45deg) translateY(10px);
}

.pic .pic1 {
  width: 235px;
  height: 235px;
  transform: rotate(-45deg) translateY(-74px);
}

.pic .pic1 img {
  width: 100%;
  height: auto;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 3em;
}

h3 {
	font-size: 23px;
	font-family: "Times New Roman", Times, serif;
}

#signatur {
	font-family: 'Homemade Apple', cursive;
	text-decoration: underline;
	text-align: right;
}

p {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
}

b {
	font-size: 18px;
}

.storlek {
	font-size: 18px;
}

.tab {
	padding-left: 16.8em;
}

.tab2 {
	padding-left: 2.2em;
}

.tab3 {
	padding-left: 19.1em;
}

.tab4 {
	padding-left: 8.3em;
}

.bold {
	font-weight: bold;
}

.checked {
	color: orange;
}

